@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    background-color: var(--body-background);
    color: var(--text-color);
}

/* SECTION 1 */

section#main-1 {
    background-image: url('assets/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem 0 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

#nav-links a{
    color: var(--text-color);
    text-decoration: none;
    padding: 20px;
}

.header button {
    display: flex;
    align-items: center;
    font-weight: 700;
}

section div#description {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0px;
}

section > #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
}

/* Section 2 */
#main-2 {
    background-color: var(--color-input);
    color: var(--text-color);
    display: grid;
    grid-template-areas: "numbers text text"
                         "numbers text text"
                         "numbers img img"
    ;
}

#numbers {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    grid-area: numbers;
}

#text {
    grid-area: text;
    display: flex;
}

#text div {
    padding: 46px 20px;
}

#img {
    /* grid-area: 2 / 2 / 3 / 6; */
    grid-area: img;
    padding: 0;
}

#img img {
    width: 100%;
}

/* SECTION 3 */
.title {
    padding: 10px;
}

#astronautas-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
}

.astronautas-information {
    display: flex;
    justify-content: space-between;
}

/* SECTION 4 */
#main-4 h2 {
    text-align: center;
    font-size: xx-large;
}
.artistas-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.artistas-itens {
    background-color: var(--card-color);
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 14px 0;
}

#mais-artistas {
    text-align: center;
}